* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Arial", "sans-serif";
  font-style: normal;
}

/* Party menu app whole container */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* App Container */
.container {
  background: linear-gradient(0deg, #fff 0%, #fff 100%);
  min-height: 100vh;
  padding: 15px;
  max-width: 425px;
}

/* ========================== */
/* Filters Component Styles */
/* ========================== */

/* Filter component Container */
.fliter-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

/* Search input's Section  */
.search-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #adadad;
  background: #fff;
  padding: 2px 18px;
  width: 100%;
}
/* Search Box  */
.search-box {
  width: 100%;
  padding-left: 5px;
}

/* Search Input element */
.search-input {
  width: 100%;
  padding: 10px 15px;
  border: none;
  outline: none;
  color: #606060;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/*Filter section Category Tabs Section */
.category-list-section {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 10px;
}

/* Each category items */
.category-item {
  border-radius: 6px;
  border: 1px solid #adadad;
  background: #fff;
  padding: 8px 15px;
  color: #1c1c1c;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.5px;
  cursor: pointer;
}

/* Active Category Item */
.active-category-item {
  border-radius: 6px;
  border: 1px solid #ff941a;
  background: #ff941a;
  color: #fff;
  font-weight: 600;
}

/* Category wise selected dish count + Toggle veg or Non-veg */
.category-dish-seleted-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.category-dish-seleted-count p {
  color: #1c1c1c;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Toggle Veg or Non-Veg */
/* Toggle container */
.toggle-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/* Veg and Non-Veg card */
.toggle-switch {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* hide native checkbox */
.toggle-veg-only,
.toggle-nonveg-only {
  display: none;
}

/* capsule (outer track) */
.toggle-veg-label,
.toggle-nonveg-label {
  width: 64px;
  height: 30px;
  padding: 6px;
  display: inline-flex;
  align-items: center;
  position: relative;
  border-radius: 40px;
  border: 1.5px solid #e8e8e8;
  background: #fff;
  box-sizing: border-box;
  cursor: pointer;
  transition: background 0.25s ease;
}

.track-line {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 8px;
  border-radius: 8px;
  background: #e6e6e6;
  z-index: 1;
  transition: background 0.25s ease, opacity 0.25s ease;
}

/* Toggle squre shape */
.square {
  width: 20px; /* square width */
  height: 20px; /* square height */
  border-radius: 6px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2; /* above track-line */
  transform: translateX(0);
  transition: transform 0.28s cubic-bezier(0.2, 0.9, 0.3, 1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.veg-square {
  border: 1.182px solid #539a64; /* green border */
}

.nonVeg-square {
  border: 1.182px solid #e2574c; /* red border */
}

/* inner circle inside the square */
.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.veg-circle {
  background: #539a64; /* green dot */
}

.nonVeg-circle {
  background: #e2574c; /* red dot */
}

/* Veg label toggling */
.toggle-veg-only:checked + .toggle-veg-label {
  background: linear-gradient(45deg, #539a64, #6be36b);
}

.toggle-veg-only:checked + .toggle-veg-label .veg-square {
  transform: translateX(28px);
}

.toggle-veg-only:checked + .toggle-veg-label .track-line {
  background: rgba(255, 255, 255, 0.32);
}

/* Non-Veg label toggling */
.toggle-nonveg-only:checked + .toggle-nonveg-label {
  background: linear-gradient(45deg, #f6a39d, #f25247);
}

.toggle-nonveg-only:checked + .toggle-nonveg-label .nonVeg-square {
  transform: translateX(28px);
}

.toggle-nonveg-only:checked + .toggle-nonveg-label .track-line {
  background: rgba(255, 255, 255, 0.32);
}

/* ======================= */
/* Dishes List Section */
/* ======================= */
.dishlist-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 15px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ====================== */
/* Dish Card Section */
/* ====================== */
/* Dishcard container */
.dish-card {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}

/* One dish contant */
.dish-details-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

/* Dish Name */
.dish-name-type {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

/* Dish Name and Food type(veg/nonVeg) card */
.dish-details-content h2 {
  color: #1c1c1c;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Veg or Non-veg symbols */
.veg-symbol,
.nonVeg-symbol {
  height: 15px;
  width: 15px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.veg-symbol {
  border: 1.182px solid #539a64; /* green border */
}

.nonVeg-symbol {
  border: 1.182px solid #e2574c; /* red border */
}

.veg-dot-symbol {
  background-color: #539a64;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

.nonVeg-dot-symbol {
  background-color: #e2574c;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

/* Dish Description */
.dish-description {
  color: #7e7e7e !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
}

/* Ingredient's Page opening link */
.ingredient-link {
  color: #f80;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Dish card right side image + add/remove btn card*/
.dish-img-content {
  position: relative;
  margin-bottom: 10px;
}

/* Dish image */
.dish-img-content img {
  width: 100px;
  height: 100px;
  border-radius: 12px;
}

/* Common add/remove btn */
.dish-img-content button {
  display: flex;
  height: 30px;
  padding: 5px 7px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: #fff;
  box-shadow: 0 1px 8px 0 rgba(28, 28, 28, 0.15);

  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;

  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
}

.add-btn {
  color: #73ae78 !important;
}
.add-btn:hover {
  background-color: #73ae78;
  color: #f9f9f9 !important;
}

.remove-btn {
  color: #ff941a !important;
  padding: 6px 7px;
}

.remove-btn:hover {
  background-color: #f80;
  color: #f9f9f9 !important;
}

/* ========================= */
/* Ingredients Section */
/* ========================= */

/* Ingredients Container */
.ingredient-container {
  min-height: 100vh;
}

/* Ingredient Close Btn */
.modal-close-btn {
  cursor: pointer;
  display: block;
  padding: 15px 5px;
  line-height: 20px;
  font-size: 16px;
  border: none;
  outline: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 425px;
  margin: 0 auto;
  max-width: 100%;
}

/* Top section (title + image) */
.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin-top: 25px;
}

/* Ingredients => Food Name */
.content h3 {
  color: #242424;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 6px;
}

/* Ingredients => Food description + Ingredients title p tag */
.content p,
.ingredient-title p {
  color: #2e2e2e;
  font-size: 12px;
  font-weight: 400;
}

/* Ingredients => Food image */
.top-section img {
  width: 140px;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
}

/* Ingredient title section */
.ingredient-title {
  padding: 12px 16px;
}

/* Ingredients => ingredinets Name */
.ingredient-title h2 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}

/* Ingredients custom line */
.line {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  margin-top: 10px;
}

/* Ingredients items list */
.ingredients-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Ingredients Item */
.ingredients-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}

/* Ingredients item name + quantity */
.ingredients-items h2,
.ingredients-items p {
  font-size: 12px;
  font-weight: 400;
  color: #1c1c1c;
  margin: 0;
}

/* ========================= */
/* Toatl Dishes Selected Count section */
/* ========================= */
.total-dish-selected-container {
  background-color: #f9f9f9;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2px;
  width: 425px;
  margin: 0 auto;
  max-width: 100%;
}

/* Total dish count text card */
.total-dish-count-selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1.025px solid;
}

/* Total dish count text */
.total-dish-count-selected p {
  color: #1c1c1c;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Right arrow btn */
.go-to-selected-dishs {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 8px;
}

/* Continue btn */
.continue-btn {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #1c1c1c;
  font-weight: 700;
  line-height: normal;
  display: flex;
  width: 100%;
  padding: 10px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ============================== */
/* All Selected dish container - view all user's added dish like a Cart */
/* ============================== */
.all-selected-dish-container {
  min-height: auto;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 5px;
  padding: 10px;

  width: 425px;
  margin: 0 auto;
  max-width: 100%;
}

/* Selected dish each item */
.dish-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted #555;
  padding: 5px;
}

/* Dish item's deatils */
.dish-item-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

/* Dish image */
.dish-item-details img {
  height: 50px;
  width: 50px;
}

/* Dish name */
.dish-item-details h2 {
  font-size: 12px;
  font-weight: 400;
}

/* Remove btn */
.dish-item .selected-remove-btn {
  background-color: #fff;
  color: #ff941a;
  border: none;
  outline: none;
  cursor: pointer;
}

.dish-item .selected-remove-btn:hover {
  color: #f80;
}

/* ============================ */
/* No Filter dish and Selected dish Empty Message  */
/* ============================ */
.no-dishes-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #555;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-top: 15px;
  width: 400px;
}
